.banner{
	background-image: url("../images/fond.jpg");
	background-size: cover;
	background-position: center;
	color:  white;
	display:  flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.banner h1, .banner h2{
	text-shadow: 1px 1px 1px black;
}

@media (min-width: 1000px) {
	.banner{
	height: 60vh;
	background-image: url("../images/fond.jpg");
	background-size: cover;
	background-position: center;
	color:  white;
	display:  flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	}
}

.banner-fixed{
	height:20vh;
	background-image: url("../images/fleurs.jpeg");
	margin: 48px 0;
	background-size: cover;
	background-attachment: fixed;
}
